<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="shortcut icon" href="../images/favicon.png" type="image/png">-->
  <title>Fullstack</title>
  <link rel="stylesheet" href="../libs/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="../libs/weather-icons/css/weather-icons.css">
  <link rel="stylesheet" href="../libs/jquery-toggles/toggles-full.css">
  <link rel="stylesheet" href="../assets/css/quirk.css">
  <script src="../libs/modernizr/modernizr.js"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../libs/html5shiv/html5shiv.js"></script>
  <script src="../libs/respond/respond.src.js"></script>
  <![endif]-->
</head>

<body>


<section>

  <div class="notfoundpanel">
    <h1>404!</h1>
    <h3>A página que você está procurando não foi encontrada!</h3>
    <h4>A página que você está procurando pode ter sido removida, seu nome foi alterado, ou não está disponível.</h4>
    <hr class="darken">
  </div><!-- notfoundpanel -->

</section>


<script src="../libs/jquery/jquery.js"></script>
<script src="../libs/jquery-ui/jquery-ui.js"></script>
<script src="../libs/bootstrap/js/bootstrap.js"></script>
<script src="../libs/jquery-toggles/toggles.js"></script>

<script src="../assets/js/quirk.js"></script>

</body>
</html>
