<div class="col-sm-12 col-md-12 col-lg-12">
    <ul class="nav nav-tabs nav-inverse">
        <li class="active"><a href="#popular10" data-toggle="tab" aria-expanded="true"><strong>Plataforma</strong></a></li>
        <li class=""><a href="#recent10" data-toggle="tab" aria-expanded="false"><strong>Gamification</strong></a></li>
        <li class=""><a href="#comments10" data-toggle="tab" aria-expanded="false"><strong>Skill</strong></a></li>
        <li class=""><a href="#popular10" data-toggle="tab" aria-expanded="true"><strong>Classe</strong></a></li>
        <li class=""><a href="#recent10" data-toggle="tab" aria-expanded="false"><strong>Familia</strong></a></li>
        <li class=""><a href="#comments10" data-toggle="tab" aria-expanded="false"><strong>Prestigio</strong></a></li>
    </ul>
    <div class="tab-content mb20">
        <div class="tab-pane active" id="popular10">

        </div>
        <div class="tab-pane" id="recent10">

        </div>
        <div class="tab-pane" id="comments10">

        </div>
    </div>
</div>