<div class="leftpanel">
    <div class="leftpanelinner">
        <div class="media leftpanel-profile">
            <div class="media-left">
                <a href="#">
                    <img src="assets/static/theme/images/photos/loggeduser.png" alt="" class="media-object img-circle">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{Nome}</h4>
                <span>{Cargo}</span>
            </div>
        </div>
        <h5 class="sidebar-title">Administrativo</h5>
        <ul class="nav nav-pills nav-stacked nav-quirk">
            <li><a href="{link}"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
            <li><a href="{link}"><i class="fa fa-cube"></i> <span>Projetos</span></a></li>
            <li><a href="{link}"><i class="fa fa-map-marker"></i> <span>Product Owner</span></a></li>
            <li><a href="{link}"><i class="fa fa-check-square"></i> <span>Team</span></a></li>
            <li><a href="{link}"><i class="fa fa-inbox"></i> <span>Widgets</span></a></li>
            <li><a href="{link}"><i class="fa fa-tags"></i> <span>Configurações</span></a></li>
        </ul>
    </div>
</div>