<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-profile grid-view">
        <div class="panel-heading">
            <div class="text-center">
                <div class="panel-profile-photo">
                    <img class="img-circle" src="assets/static/theme/images/photos/user1.png" alt="">
                </div>
                <h4 class="panel-profile-name">{Nome do Projeto}</h4>
                <p class="media-usermeta"><i class="glyphicon glyphicon-briefcase"></i> {Nome Scrum Master}</p>
            </div>
            <ul class="panel-options">
                <li><a class="tooltips" href="" data-toggle="tooltip" title="" data-original-title="View Options"><i class="glyphicon glyphicon-option-vertical"></i></a></li>
            </ul>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs nav-line nav-justified">
                <li class="active"><a href="#detalhe" data-toggle="tab" aria-expanded="true"><strong>Detalhes</strong></a></li>
                <li class=""><a href="#ticket" data-toggle="tab" aria-expanded="true"><strong>Tickets</strong></a></li>
                <li class=""><a href="#backlog" data-toggle="tab" aria-expanded="false"><strong>BackLog</strong></a></li>
                <li class=""><a href="#sprint" data-toggle="tab" aria-expanded="false"><strong>Sprints</strong></a></li>
                <li class=""><a href="#arquivo" data-toggle="tab" aria-expanded="false"><strong>Arquivos</strong></a></li>
                <li class=""><a href="#chat" data-toggle="tab" aria-expanded="false"><strong>Chat</strong></a></li>
            </ul>
            <div class="tab-content mb20">
                <div class="tab-pane active" id="detalhe">
                    <div class="row profile-wrapper">
                        <div class="col-xs-12 col-md-3 col-lg-2 profile-left">
                            <div class="profile-left-body">
                                <ul class="panel-options">
                                    <li><a><i class="glyphicon glyphicon-option-vertical"></i></a></li>
                                </ul>
                                <h4 class="panel-title">Sobre</h4>
                                <p>{Sobre}</p>
                                <hr class="fadeout">
                                <h4 class="panel-title">Product Owner</h4>
                                <p>{Product Owner}</p>
                                <hr class="fadeout">
                                <h4 class="panel-title">Categoria</h4>
                                <p>{Categoria}</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-8 profile-right">
                            <div class="profile-right-body">
                                <div class="row panel-statistics">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="panel panel-updates">
                                            <div class="panel-body">
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <h4 class="panel-title text-success">Atividades Concluidas</h4>
                                                    <h3>75.7%</h3>
                                                    <div class="progress">
                                                        <div style="width: 75.7%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75.7" role="progressbar" class="progress-bar progress-bar-success">
                                                            <span class="sr-only">75.7% Complete (success)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <h4 class="panel-title text-danger">Atividades Rejeitadas</h4>
                                                    <h3>22.1%</h3>
                                                    <div class="progress">
                                                        <div style="width: 22.1%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="22.1" role="progressbar" class="progress-bar progress-bar-danger">
                                                            <span class="sr-only">22.1% Complete (success)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-2 profile-sidebar">
                            <div class="row">
                                <div class="col-sm-6 col-md-12">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">TEAM</h4>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="media-list user-list">
                                                <li class="media">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object img-circle" src="assets/static/theme/images/photos/user9.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading small">{nome}</h4>
                                                        <small>{cargo}</small>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ticket">
                    <div class="row panel-statistics">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="panel panel-updates">
                                <div class="panel-body">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <h4 class="panel-title text-success">Concluido</h4>
                                        <h3>75.7%</h3>
                                        <div class="progress">
                                            <div style="width: 75.7%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75.7" role="progressbar" class="progress-bar progress-bar-success">
                                                <span class="sr-only">75.7% Complete (success)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <h4 class="panel-title text-warning">Em Andamento</h4>
                                        <h3>1.8%</h3>
                                        <div class="progress">
                                            <div style="width: 1.8%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1.8" role="progressbar" class="progress-bar progress-bar-warning">
                                                <span class="sr-only">1.8%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <h4 class="panel-title text-danger">Rejeitado</h4>
                                        <h3>22.1%</h3>
                                        <div class="progress">
                                            <div style="width: 22.1%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="22.1" role="progressbar" class="progress-bar progress-bar-danger">
                                                <span class="sr-only">22.1% Complete (success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-inverse table-striped nomargin">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    <label class="ckbox ckbox-primary">
                                        <input type="checkbox"><span></span>
                                    </label>
                                </th>
                                <th>ID Ticket</th>
                                <th>Status</th>
                                <th>Assunto</th>
                                <th class="text-center">Product Owner</th>
                                <th class="text-center">TEAM</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">
                                    <label class="ckbox ckbox-primary">
                                        <input type="checkbox"><span></span>
                                    </label>
                                </td>
                                <td>10004</td>
                                <td>{status}</td>
                                <td>{assunto}</td>
                                <td class="text-center">{Product Owner}</td>
                                <td class="text-center">{Team}</td>
                                <td>
                                    <ul class="table-options">
                                        <li><a href=""><i class="fa fa-pencil"></i></a></li>
                                        <li><a href=""><i class="fa fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="backlog">
                    <div class="table-responsive">
                        <table class="table table-bordered table-inverse table-striped nomargin">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    <label class="ckbox ckbox-primary">
                                        <input type="checkbox"><span></span>
                                    </label>
                                </th>
                                <th>ID Ticket</th>
                                <th>Status</th>
                                <th>Assunto</th>
                                <th class="text-center">Product Owner</th>
                                <th class="text-center">TEAM</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">
                                    <label class="ckbox ckbox-primary">
                                        <input type="checkbox"><span></span>
                                    </label>
                                </td>
                                <td>10004</td>
                                <td>{status}</td>
                                <td>{assunto}</td>
                                <td class="text-center">{Product Owner}</td>
                                <td class="text-center">{Team}</td>
                                <td>
                                    <ul class="table-options">
                                        <li><a href=""><i class="fa fa-pencil"></i></a></li>
                                        <li><a href=""><i class="fa fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="sprint">
                    <div class="panel panel-post-item">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">{Sprint}</h4>
                                    <p class="media-usermeta">
                                        <span class="media-time">{Data}</span>
                                    </p>
                                </div>
                            </div><!-- media -->
                        </div><!-- panel-heading -->
                        <div class="panel-body">
                            <p>{Historia}</p>
                        </div>
                        <div class="panel-footer">
                            <ul class="list-inline">
                                <li><a href=""><i class="glyphicon glyphicon-heart"></i> Like</a></li>
                                <li><a><i class="glyphicon glyphicon-comment"></i> Comments (0)</a></li>
                                <li class="pull-right">5 liked this</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="arquivo">
                    <div class="clearfix">
                        <div class="btn-toolbar btn-toolbar-media-manager pull-left" role="toolbar">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default"><i class="fa fa-share"></i> Share</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-download"></i> Download</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default disabled"><i class="fa fa-pencil"></i> Edit</button>
                                <button type="button" class="btn btn-default disabled"><i class="fa fa-trash"></i> Delete</button>
                            </div>
                        </div><!-- btn-toolbar -->
                        <div class="btn-group pull-right" data-toggle="buttons">
                            <label class="btn btn-default-active active">
                                <input type="checkbox" checked=""> All
                            </label>
                            <label class="btn btn-default-active">
                                <input type="checkbox"> Images
                            </label>
                            <label class="btn btn-default-active">
                                <input type="checkbox"> Videos
                            </label>
                            <label class="btn btn-default-active">
                                <input type="checkbox"> Documents
                            </label>
                            <label class="btn btn-default-active">
                                <input type="checkbox"> Music
                            </label>
                        </div>
                    </div>
                    <div class="row filemanager">
                        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="thmb">
                                <div class="thmb-prev">
                                    <img src="assets/static/theme/images/doc.png" class="img-responsive" alt="">
                                    <div class="btn-group btn-group-xs" role="group">
                                    <a class="btn"><i class="fa fa-download"></i> Down</a>
                                    <a class="btn"><i class="fa fa-pencil"></i> Edit</a>
                                    <a class="btn"><i class="fa fa-trash"></i> Del</a>
                                    </div>
                                </div>
                                <h5 class="text-muted">{nome}</h5>
                                <small class="text-muted">{data}</small>
                            </div><!-- thmb -->
                        </div><!-- col-xs-6 -->
                    </div>
                </div>
                <div class="tab-pane" id="chat">
                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                </div>
            </div>

        </div>
    </div>
</div>